/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: Titillium-Bold; src: url("fonts/Titillium-Bold.eot"); src: url("fonts/Titillium-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Bold.woff") format("woff"), url("fonts/Titillium-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Semibold; src: url("fonts/Titillium-Semibold.eot"); src: url("fonts/Titillium-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Semibold.woff") format("woff"), url("fonts/Titillium-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Regular; src: url("fonts/Titillium-Regular.eot"); src: url("fonts/Titillium-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Regular.woff") format("woff"), url("fonts/Titillium-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Light; src: url("fonts/Titillium-Light.eot"); src: url("fonts/Titillium-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Light.woff") format("woff"), url("fonts/Titillium-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicSlabLight; src: url("fonts/KlinicSlabLight.eot"); src: url("fonts/KlinicSlabLight.eot?#iefix") format("embedded-opentype"), url("fonts/KlinicSlabLight.woff") format("woff"), url("fonts/KlinicSlabLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicSlab-Book; src: url("fonts/KlinicSlab-Book.eot"); src: url("fonts/KlinicSlab-Book.eot?#iefix") format("embedded-opentype"), url("fonts/KlinicSlab-Book.woff") format("woff"), url("fonts/KlinicSlab-Book.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicSlab-Bold; src: url("fonts/KlinicSlab-Bold.eot"); src: url("fonts/KlinicSlab-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/KlinicSlab-Bold.woff") format("woff"), url("fonts/KlinicSlab-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.out { min-height: 100%; }

.sign { text-align: center; font-size: 15px; font-family: "Titillium-Regular", Arial, sans-serif; }
.sign p { margin-bottom: 0; font-size: 24px; font-family: "KlinicSlabLight", Arial, sans-serif; }
.sign .sign__text { margin-bottom: 60px; }
.sign input { display: block; margin: 0 auto 10px; width: 31.5%; min-width: 200px; height: 50px; font-size: 16px; color: #5b5b5b; padding-left: 25px; line-height: 1.2; }
.sign input:-moz-placeholder, .sign input::-moz-placeholder { color: #5b5b5b; opacity: 1; }
.sign input::-webkit-input-placeholder { color: #5b5b5b; }
.sign a { color: white; display: block; }
.sign a:hover { text-decoration: none; }
.sign span { color: white; display: inline-block; }
.sign .ask { margin-top: 40px; }
.sign .frgt { padding-bottom: 45px; font-size: 12px; }

.signin { width: 23.5%; min-width: 195px; height: 55px; background: none; border: 2px solid white; text-transform: uppercase; color: white; display: block; margin: 0 auto; }
.signin:hover { background: #254680; border-color: #254680; }

.acc .sign__text { margin-bottom: 40px; }
.acc input { display: inline-block; margin-right: 10px; }
.acc .signin { margin-top: 40px; }

.result__wrap { margin: 85px auto 165px; }

.result__title { color: #2a8ff1; margin-bottom: 50px; font-size: 24px; font-family: "KlinicSlabLight", Arial, sans-serif; }

.result__table { font-size: 17px; color: #555555; font-family: "Titillium-Regular", Arial, sans-serif; }
@media only screen and (max-width: 730px) { .result__table { font-size: 13px; } }
.result__table tr { border-bottom: 1px solid #dddddd; }
.result__table td { padding: 30px 0; }
@media only screen and (max-width: 730px) { .result__table td { padding-right: 15px; } }
.result__table .result__first td { padding: 0 0 5px 0; }
.result__table .name { width: 33%; padding-left: 20px; }
@media only screen and (max-width: 860px) { .result__table .name { width: 40%; padding-right: 20px; } }
.result__table .best { position: relative; }
.result__table .best .deal { font-size: 12px; position: absolute; left: -2px; bottom: -20px; font-family: "Titillium-Light", Arial, sans-serif; }
@media only screen and (max-width: 730px) { .result__table .best .deal { display: none; } }
.result__table .remove { cursor: pointer; }
.result__table .blue, .result__table .srt, .result__table a, .result__table .deal { color: #254680; }
.result__table .srt { position: relative; cursor: pointer; }
.result__table .srt i { position: absolute; content: ""; background: url('../img/icons-s6e2bf6376f.png') 0 -451px no-repeat; width: 9px; height: 5px; top: 10px; right: -14px; }
@media only screen and (max-width: 730px) { .result__table .srt i { top: 7px; } }
.result__table .srt i.active { position: absolute; content: ""; background: url('../img/icons-s6e2bf6376f.png') 0 -466px no-repeat; width: 9px; height: 5px; top: 10px; right: -14px; }
@media only screen and (max-width: 730px) { .result__table .srt i.active { top: 7px; } }
.result__table a:hover { text-decoration: none; }
.result__table select { position: relative; width: 70px; height: 40px; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.result__table .forselect { position: relative; }
.result__table .forselect span { font-size: 16px; border: 1px solid #254680; width: 70px; height: 40px; display: inline-block; position: absolute; top: -41px; left: -1px; padding: 7px 0 0 20px; font-family: "Titillium-Regular", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.result__table .forselect span:after { background: url('../img/icons-s6e2bf6376f.png') 0 -377px no-repeat; width: 13px; height: 7px; position: absolute; content: ""; top: 15px; right: 10px; }

.common { max-width: 1244px; margin: 0 auto; }

.details__wrap { margin: 30px 0 120px 0; font-size: 18px; color: #555555; font-family: "Titillium-Regular", Arial, sans-serif; }

.details__title { color: #254680; border-bottom: 1px solid #bdc7d9; border-top: 1px solid #bdc7d9; padding: 30px 0; margin-bottom: 85px; }
@media only screen and (max-width: 685px) { .details__title { text-align: center; } }
.details__title.paymentinfo { margin-bottom: 40px; }

.details__total { *zoom: 1; }
.details__total:after { content: " "; display: table; clear: both; }
.details__total table { width: 350px; text-align: right; float: right; margin: 40px 0; font-size: 17px; }
@media only screen and (max-width: 730px) { .details__total table { font-size: 15px; } }
@media only screen and (max-width: 505px) { .details__total table { float: none; margin: 40px auto; } }
.details__total table td { padding-right: 20px; }
.details__total table .left { text-align: left; padding-right: 15px; }
.details__total table .bold { font-family: "Titillium-Semibold", Arial, sans-serif; }

.product { *zoom: 1; }
.product:after { content: " "; display: table; clear: both; }
.product .details__title { margin-bottom: 45px; }

.breadcrumbs { *zoom: 1; }
.breadcrumbs:after { content: " "; display: table; clear: both; }
.breadcrumbs li { float: left; padding-right: 5px; }
@media only screen and (max-width: 685px) { .breadcrumbs li { float: none; } }
.breadcrumbs a { text-decoration: none; color: #254680; padding-right: 5px; }
.breadcrumbs .current { color: #2a8ff1; }

.leftside { width: 32%; float: left; }
@media only screen and (max-width: 685px) { .leftside { width: 100%; float: none; text-align: center; } }

.alternative { margin-top: 100px; *zoom: 1; }
@media only screen and (max-width: 685px) { .alternative { display: none; } }
.alternative:after { content: " "; display: table; clear: both; }
.alternative.hidden { display: none; }
@media only screen and (max-width: 685px) { .alternative.hidden { display: block; margin-top: 50px; text-align: center; } }
.alternative.version { margin-top: 25px; }
@media only screen and (max-width: 685px) { .alternative.version { display: block; float: none; text-align: center; } }
.alternative .image { float: left; margin-right: 10px; overflow: hidden; }
@media only screen and (max-width: 685px) { .alternative .image { float: none; } }
.alternative .image img { width: 90px; }
.alternative .alt__ver { float: left; width: 33%; }
@media only screen and (max-width: 930px) { .alternative .alt__ver { width: 50%; } }
@media only screen and (max-width: 685px) { .alternative .alt__ver { width: 100%; margin-bottom: 50px; } }
.alternative .alt__ver .add { text-decoration: underline; }
.alternative .alt__ver .add:hover { text-decoration: none; }
.alternative .desc { *zoom: 1; padding-top: 25px; }
.alternative .desc:after { content: " "; display: table; clear: both; }
.alternative .title { margin-bottom: 15px; font-size: 18px; }
.alternative .naming { font-size: 30px; color: #254680; line-height: 1; font-family: "KlinicSlab-Book", Arial, sans-serif; }
.alternative .b { color: #2a8ff1; font-size: 15px; }
.alternative .add { color: #254680; text-decoration: none; text-transform: uppercase; display: inline-block; margin-top: 20px; font-size: 15px; font-family: "Titillium-Semibold", Arial, sans-serif; }

.rightside { width: 68%; float: left; vertical-align: top; }
@media only screen and (max-width: 685px) { .rightside { width: 85%; margin: 0 auto; float: none; } }
.rightside .rightside__title { color: #254680; font-size: 36px; margin-bottom: 35px; position: relative; font-family: "KlinicSlab-Book", Arial, sans-serif; }
@media only screen and (max-width: 685px) { .rightside .rightside__title { text-align: center; } }
.rightside .b { color: #2a8ff1; font-size: 18px; }
.rightside button { width: 235px; height: 55px; position: absolute; right: 0; bottom: 0; text-transform: uppercase; color: white; background: #254680; font-size: 16px; font-family: "Titillium-Semibold", Arial, sans-serif; }
@media only screen and (max-width: 930px) { .rightside button { position: relative; margin-top: 20px; } }
.rightside .rightside__table { margin: 35px 0 75px 0; width: 90%; }
@media only screen and (max-width: 685px) { .rightside .rightside__table { width: 100%; } }
.rightside .rightside__table td { vertical-align: top; color: #254680; }
@media only screen and (max-width: 685px) { .rightside .rightside__table td { padding-right: 15px; } }
.rightside .rightside__table td img { margin-right: 10px; }
.rightside .rightside__table .b { font-size: 14px; font-family: "Titillium-Semibold", Arial, sans-serif; }
.rightside .rightside__quan { text-align: center; *zoom: 1; }
.rightside .rightside__quan:after { content: " "; display: table; clear: both; }
.rightside .rightside__quan .inrow { display: inline-block; vertical-align: top; padding-right: 6px; }
.rightside .rightside__quan .inrow:last-child { padding-right: 0; }
.rightside .rightside__quan .inrow span { display: table-cell; vertical-align: middle; width: 105px; height: 50px; }
.rightside .rightside__quan .quantity { color: white; background: #254680; }
.rightside .rightside__quan .price { color: #2a8ff1; background: #d4e9fc; }
.rightside .rightside__text { color: #254680; }
.rightside .rightside__text .b { font-size: 24px; margin-bottom: 35px; }
.rightside .rightside__text .version2 { padding-bottom: 25px; border-bottom: 1px solid #89a4c6; }

.chpay { margin-bottom: 60px; border-bottom: 1px solid #bdc7d9; border-top: 1px solid #bdc7d9; padding: 20px 0; color: #254680; *zoom: 1; }
.chpay:after { content: " "; display: table; clear: both; }

.chpay__title { float: left; padding-top: 10px; }
@media only screen and (max-width: 580px) { .chpay__title { float: none; text-align: center; } }

.chpay__numbers { float: right; }
@media only screen and (max-width: 580px) { .chpay__numbers { float: none; margin: 20px auto 0; width: 230px; } }
.chpay__numbers li { float: left; display: block; }
.chpay__numbers .one { background: url("../img/num.png") no-repeat 0 0; width: 91px; height: 48px; }
.chpay__numbers .one.inshadow { background: url("../img/num1.png") no-repeat 0 0; width: 90px; height: 48px; }
.chpay__numbers .two { background: url("../img/num2.png") no-repeat 0 0; width: 89px; height: 48px; }
.chpay__numbers .two.active { background: url("../img/num4.png") no-repeat 0 0; width: 90px; height: 48px; }
.chpay__numbers .three { background: url("../img/num3.png") no-repeat 0 0; width: 50px; height: 48px; }
.chpay__numbers .three.active { background: url("../img/num5.png") no-repeat 0 0; width: 49px; height: 48px; }

.paymentinfo { margin-bottom: 50px; }

.paymentinfo__table { width: 50%; color: #254680; }
.paymentinfo__table.shipping { width: 100%; font-size: 15px; }
.paymentinfo__table.shipping a { font-size: 15px; }
.paymentinfo__table.shipping .reg { font-family: "Titillium-Regular", Arial, sans-serif; }
@media only screen and (max-width: 685px) { .paymentinfo__table { margin: 0 auto; width: 80%; } }
.paymentinfo__table a { font-family: "Titillium-Semibold", Arial, sans-serif; font-size: 16px; color: #254680; }
.paymentinfo__table a:hover { text-decoration: none; }
.paymentinfo__table td { padding-right: 20px; min-width: 100px; }
.paymentinfo__table .ifradio { padding-right: 10px; min-width: 15px; }
.paymentinfo__table .paymentinfo__name { font-family: "Titillium-Bold", Arial, sans-serif; }

.data { margin-bottom: 35px; *zoom: 1; }
.data:after { content: " "; display: table; clear: both; }

.data__shipping { margin: -20px 0 35px 0; }
.data__shipping .radio__title { padding: 0 0 5px 20px; }
.data__shipping .radio__title.version:before, .data__shipping .radio__title.version:after { left: 0; top: 8px; }
.data__shipping .info { font-family: "Titillium-Semibold", Arial, sans-serif; }

.data__left { width: 500px; float: left; color: #254680; }
@media only screen and (max-width: 790px) { .data__left { padding-left: 20px; } }
@media only screen and (max-width: 685px) { .data__left { float: none; text-align: center; padding-left: 0; width: 100%; } }
.data__left a { color: #254680; }
.data__left a:hover { text-decoration: none; }

.data__text { padding-bottom: 10px; margin-bottom: 30px; border-bottom: 1px solid #bdc7d9; }

.data__table { margin-bottom: 20px; width: 71.875%; }
@media only screen and (max-width: 685px) { .data__table { margin: 0 auto 20px; } }
.data__table .radio.version input { left: 50%; margin-left: -7.5px; }
.data__table .radio__title.version { position: static; }
.data__table .radio__title.version:before, .data__table .radio__title.version:after { margin-left: -7.5px; }

.data__fieldset { width: 500px; margin-bottom: 15px; font-size: 0; position: relative; }
@media only screen and (max-width: 685px) { .data__fieldset { width: 100%; } }
.data__fieldset input, .data__fieldset textarea { border: 1px solid #134a8e; color: #254680; font-size: 17px; padding-left: 20px; font-family: "Titillium-Regular", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.data__fieldset input:-moz-placeholder, .data__fieldset input::-moz-placeholder, .data__fieldset textarea:-moz-placeholder, .data__fieldset textarea::-moz-placeholder { color: #254680; opacity: 1; }
.data__fieldset input::-webkit-input-placeholder, .data__fieldset textarea::-webkit-input-placeholder { color: #254680; }
.data__fieldset input, .data__fieldset .dropdown { width: 48%; min-width: 200px; height: 50px; margin: 0 15px 15px 0; display: inline-block; }
@media only screen and (max-width: 415px) { .data__fieldset input, .data__fieldset .dropdown { margin-right: 0; } }
.data__fieldset input.this, .data__fieldset .dropdown.this { margin-right: 0; }
.data__fieldset textarea { width: 99%; height: 195px; padding-top: 20px; resize: none; }
.data__fieldset .long { width: 99%; margin-right: 0; }
.data__fieldset a { font-size: 13px; }
@media only screen and (max-width: 790px) { .data__fieldset a { display: block; width: 240px; margin-bottom: 20px; text-align: center; } }
@media only screen and (max-width: 685px) { .data__fieldset a { width: 100%; } }
.data__fieldset .dropdown { position: relative; }
.data__fieldset .dropdown input { width: 100%; }
.data__fieldset .dropdown select { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; width: 100%; height: 50px; z-index: 3; cursor: pointer; }
.data__fieldset .dropdown i { position: absolute; right: 20px; bottom: 20px; background: url('../img/icons-s6e2bf6376f.png') 0 -337px no-repeat; width: 18px; height: 9px; }

.data__checkbox { font-size: 14px; font-family: "Titillium-Regular", Arial, sans-serif; }
.data__checkbox input { margin-right: 15px; }
.data__checkbox p { margin-top: 15px; }

.data__fileupload { width: 98%; height: 50px; position: relative; overflow: hidden; background: white; border: 1px solid #254680; cursor: pointer; margin: 30px 0 40px 0; padding: 10px 0 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 685px) { .data__fileupload { text-align: left; margin: 30px auto 40px; } }
.data__fileupload:after { position: absolute; content: ""; top: 20px; right: 20px; background: url('../img/icons-s6e2bf6376f.png') 0 -337px no-repeat; width: 18px; height: 9px; -ms-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg); }
.data__fileupload input { position: absolute; cursor: pointer; top: 0; right: 0; width: 490px; height: 50px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.data__info { margin-top: 40px; }
.data__info .medium { font-family: "Titillium-Bold", Arial, sans-serif; }
.data__info ul { width: 45%; min-width: 225px; padding-left: 20px; display: inline-block; }
@media only screen and (max-width: 556px) { .data__info ul { padding-bottom: 20px; } }

.data__right { float: right; width: 32%; text-align: right; color: #254680; }
@media only screen and (max-width: 780px) { .data__right { width: 35%; padding-right: 20px; } }
@media only screen and (max-width: 685px) { .data__right { float: none; width: 50%; margin: 35px auto 0; text-align: left; } }
@media only screen and (max-width: 400px) { .data__right { width: 75%; } }
.data__right ul { font-size: 15px; margin: 55px 10px 0 0; }

.data__title, .data__total { min-width: 244px; }

.data__title { padding: 15px 0; border-bottom: 1px solid #bdc7d9; border-top: 1px solid #bdc7d9; }

.data__total { font-size: 15px; margin-top: 35px; }
.data__total td { padding-right: 10px; }
.data__total .medium { font-family: "Titillium-Bold", Arial, sans-serif; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.cycle-slideshow { overflow: hidden; max-height: 575px; }
.cycle-slideshow a, .cycle-slideshow img { width: 100%; }

.cycle-pager { position: absolute; z-index: 500; bottom: -15px; left: 50%; margin-left: -35px; }
@media only screen and (max-width: 1120px) { .cycle-pager { margin-left: -32px; } }
@media only screen and (max-width: 720px) { .cycle-pager { margin-left: -25px; bottom: -10px; } }
.cycle-pager .cycle-pager-active { color: #2a8ff0; }

.cycle-pager span { color: white; font-size: 50px; cursor: pointer; padding-right: 7px; }
@media only screen and (max-width: 1120px) { .cycle-pager span { font-size: 45px; } }
@media only screen and (max-width: 720px) { .cycle-pager span { font-size: 35px; } }

.pharm__wrap { margin: 50px auto 15px; position: relative; }
.pharm__wrap:before { background: url('../img/icons-s6e2bf6376f.png') 0 0 no-repeat; width: 36px; height: 75px; position: absolute; content: ""; top: 0; left: 50%; margin-left: -18px; }
.pharm__wrap p { font-size: 29px; color: #254680; text-align: center; font-family: "KlinicSlabLight", Arial, sans-serif; }

.pharm__text { padding: 115px 0 50px 0; width: 65%; margin: 0 auto; }

.pharm__buttons { text-align: center; padding-bottom: 70px; }
.pharm__buttons button { width: 234px; height: 55px; font-size: 16px; text-transform: uppercase; border: 2px solid #254680; background: white; color: #254680; margin-right: 30px; font-family: "Titillium-Semibold", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 518px) { .pharm__buttons button { margin: 0 0 20px 0; } }
.pharm__buttons button:last-child { margin-right: 0; }
.pharm__buttons button:hover { background: #254680; color: white; }

.scroll { font-size: 14px; color: #2a8ff1; text-align: center; position: relative; padding-bottom: 40px; font-family: "Titillium-Semibold", Arial, sans-serif; }
.scroll:after { background: url('../img/icons-s6e2bf6376f.png') 0 -318px no-repeat; width: 19px; height: 9px; position: absolute; content: ""; top: 30px; left: 50%; margin-left: -9.5px; }

.medic { background: #2a8ff1; }

.medic__wrap { padding: 85px 0 75px 0; color: white; }

.medic__title { margin-bottom: 60px; font-size: 29px; text-align: center; font-family: "KlinicSlabLight", Arial, sans-serif; }

.medic__table { text-align: center; }
.medic__table .bl { display: inline-block; width: 17%; margin-bottom: 30px; }
@media only screen and (max-width: 680px) { .medic__table .bl { width: 20%; } }
@media only screen and (max-width: 580px) { .medic__table .bl { width: 25%; } }
@media only screen and (max-width: 470px) { .medic__table .bl { width: 50%; } }
.medic__table .bl a { text-decoration: none; display: block; background: white; border-radius: 50%; margin: 0 auto; width: 100px; height: 100px; }
.medic__table .bl a img { padding-top: 30px; }
.medic__table .bl span { display: block; padding-top: 20px; font-size: 14px; color: white; text-transform: uppercase; font-family: "Titillium-Semibold", Arial, sans-serif; }

.prodsearch { background: #f8f8f8; }

.prodsearch__wrap { padding: 105px 0 130px 0; text-align: center; }
.prodsearch__wrap a { display: block; font-size: 13px; color: #134a8e; text-decoration: none; font-family: "Titillium-Regular", Arial, sans-serif; }

.prodsearch__s { position: relative; display: inline-block; width: 45%; min-width: 370px; padding-bottom: 20px; }
@media only screen and (max-width: 685px) { .prodsearch__s { width: 90%; min-width: 265px; } }
.prodsearch__s input { color: #5b5b5b; font-size: 16px; background: white; width: 100%; height: 55px; padding-left: 37px; font-family: "Titillium-Regular", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.prodsearch__s input:-moz-placeholder, .prodsearch__s input::-moz-placeholder { color: #5b5b5b; opacity: 1; }
.prodsearch__s input::-webkit-input-placeholder { color: #5b5b5b; }
@media only screen and (max-width: 685px) { .prodsearch__s input { width: 100%; padding-left: 10px; font-size: 12px; } }
.prodsearch__s i { background: url('../img/icons-s6e2bf6376f.png') 0 -85px no-repeat; width: 26px; height: 26px; position: absolute; content: ""; top: 15px; right: 20px; cursor: pointer; }

.prodsearch__title { font-size: 24px; color: #2a8ff1; padding-bottom: 35px; font-family: "KlinicSlabLight", Arial, sans-serif; }

.prodsearch__sort { margin-top: 25px; font-size: 12px; color: #134a8e; font-family: "Titillium-Regular", Arial, sans-serif; }
.prodsearch__sort input { margin-right: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 3; }
.prodsearch__sort input:checked + .checkn:after { display: inline-block; }

.check { position: relative; display: inline-block; cursor: pointer; }
@media only screen and (max-width: 357px) { .check { margin-bottom: 15px; } }

.middle { margin: 0 65px 0; }
@media only screen and (max-width: 470px) { .middle { margin: 0 20px; } }
@media only screen and (max-width: 357px) { .middle { margin-bottom: 15px; } }

.first { margin-right: 80px; }
@media only screen and (max-width: 470px) { .first { margin: 0 20px; } }
@media only screen and (max-width: 357px) { .first { margin-bottom: 15px; } }

.checkn:before { position: absolute; content: ""; width: 12px; height: 12px; border: 1px solid #6e86ae; left: 0; }
.checkn:after { position: absolute; content: ""; left: 0; display: none; z-index: 2; background: url('../img/icons-s6e2bf6376f.png') 0 -146px no-repeat; width: 12px; height: 11px; }

.categ { background: #2a8ff1; }

.categ__wrap { padding: 70px 0 100px 0; text-align: center; }
.categ__wrap .medic__table .bl { width: 22.5%; }
@media only screen and (max-width: 600px) { .categ__wrap .medic__table .bl { width: 25%; } }
@media only screen and (max-width: 520px) { .categ__wrap .medic__table .bl { width: 35%; } }
@media only screen and (max-width: 470px) { .categ__wrap .medic__table .bl { width: 50%; } }
.categ__wrap .medic__table a img { padding-top: 20px; }
.categ__wrap .prodsearch__title { color: white; padding-bottom: 60px; }

.srch { padding-bottom: 312px; }

.header, section, .footer { position: relative; width: 100%; min-width: 244px; }

.pharm__wrap, .medic__wrap, .prodsearch__wrap, .categ__wrap, .result__wrap, .details__wrap { max-width: 1000px; min-height: 100%; }

.medic__wrap, .prodsearch__wrap, .categ__wrap { margin: 0 auto; }

.header__wrap { max-width: 1244px; min-height: 90px; padding-bottom: 10px; margin: 0 auto; *zoom: 1; }
.header__wrap:after { content: " "; display: table; clear: both; }

.header__logo { padding-top: 25px; width: 39.389%; min-width: 244px; float: left; }
@media only screen and (max-width: 685px) { .header__logo { text-align: center; width: 100%; float: none; } }

.header__right { width: 60.6109%; float: right; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 685px) { .header__right { float: none; width: 100%; } }
.header__right .cart { float: left; width: 68.8%; text-align: right; padding-top: 18px; }
.header__right .cart a { color: #2a8ff1; text-decoration: none; font-size: 14px; font-family: "Titillium-Semibold", Arial, sans-serif; }
@media only screen and (max-width: 1238px) { .header__right .cart { text-align: left; } }
@media only screen and (max-width: 685px) { .header__right .cart { float: none; text-align: center; width: 100%; } }
.header__right .contacts { width: 70%; font-size: 16px; font-family: "Titillium-Bold", Arial, sans-serif; }
@media only screen and (max-width: 685px) { .header__right .contacts { width: 100%; } }
.header__right .contacts span { color: #2a8ff1; display: inline-block; padding: 15px 45px 0 0; position: relative; }
.header__right .contacts.ord { width: 31.2%; text-align: center; float: right; }
.header__right .contacts .phone { padding-left: 35px; }
@media only screen and (max-width: 1238px) { .header__right .contacts .phone { display: none; } }
.header__right .contacts .phone:after { background: url('../img/icons-s6e2bf6376f.png') 0 -167px no-repeat; width: 18px; height: 18px; position: absolute; content: ""; top: 18px; right: 18px; }
.header__right .contacts .phone.ord { padding: 15px 0 0 0; }
.header__right .contacts .phone.ord:after { display: none; }
.header__right .contacts .fax:after { background: url('../img/icons-s6e2bf6376f.png') 0 -291px no-repeat; width: 19px; height: 17px; position: absolute; content: ""; top: 19px; right: 17px; }
@media only screen and (max-width: 1238px) { .header__right .contacts .fax { display: none; } }
.header__right .contacts .sign { display: inline-block; font-size: 16px; color: #254680; font-family: "Titillium-Semibold", Arial, sans-serif; }
@media only screen and (max-width: 685px) { .header__right .contacts .sign { width: 100%; text-align: center; padding-top: 10px; } }
.header__right .contacts .login, .header__right .contacts .reg { display: inline-block; text-decoration: none; }
.header__right .contacts .login { width: 70px; height: 35px; background: #2a8ff1; color: white; padding-top: 15px; font-size: 15px; text-transform: uppercase; text-align: center; }
.header__right .contacts .reg { color: #254680; padding-left: 5px; }

.header__menu { font-size: 16px; padding-top: 15px; float: left; font-family: "Titillium-Regular", Arial, sans-serif; }
@media only screen and (max-width: 685px) { .header__menu { float: none; text-align: center; } }
.header__menu ul { float: left; }
@media only screen and (max-width: 685px) { .header__menu ul { float: none; } }
.header__menu li { display: inline-block; padding-right: 33px; }
@media only screen and (max-width: 685px) { .header__menu li { display: block; padding-right: 0; } }
.header__menu li a { color: #254680; text-decoration: none; }
.header__menu li:hover { text-decoration: underline; }
.header__menu .social { float: left; }
@media only screen and (max-width: 685px) { .header__menu .social { float: none; padding: 20px 0; } }

.search { float: right; margin-top: 10px; position: relative; }
.search input { width: 213px; height: 30px; background: #eff0f1; padding-left: 15px; }
.search i { background: url('../img/icons-s6e2bf6376f.png') 0 -241px no-repeat; width: 15px; height: 15px; position: absolute; right: 12px; top: 8px; content: ""; cursor: pointer; }
@media only screen and (max-width: 1247px) { .search { float: left; } }
@media only screen and (max-width: 685px) { .search { float: none; width: 90%; margin: 5px auto; }
  .search input { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } }

footer { background: #134a8e; }

.footer__wrap { max-width: 795px; margin: 0 auto; }

.footer__menu { font: 13px Helvetica, Arial, sans-serif; padding: 35px 0 25px 0; }
.footer__menu ul { display: inline-block; width: 23%; }
@media only screen and (max-width: 545px) { .footer__menu ul { display: inline; text-align: center; } }
.footer__menu li { padding-bottom: 15px; }
.footer__menu li a { color: white; text-decoration: none; }
.footer__menu li a:hover { text-decoration: underline; }

.footer__social { vertical-align: top; }

.footer__badge { background: white; padding: 15px 0; }
@media only screen and (max-width: 545px) { .footer__badge { text-align: center; } }
.footer__badge img { padding-right: 15px; }

.radio { display: inline-block; position: relative; }
.radio input { width: 11px; height: 11px; position: absolute; bottom: 20px; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.radio input:checked + .radio__title:after { display: block; }

.radio__title { display: inline-block; position: relative; z-index: 1; }
.radio__title:before { content: ""; position: absolute; bottom: 20px; left: 50%; margin-left: -7.5px; background: url('../img/icons-s6e2bf6376f.png') 0 -266px no-repeat; width: 15px; height: 15px; }
.radio__title:after { content: ""; display: none; position: absolute; bottom: 20px; left: 50%; margin-left: -7.5px; z-index: 2; background: url('../img/icons-s6e2bf6376f.png') 0 -216px no-repeat; width: 15px; height: 15px; }

.radio.version input { bottom: 0; }
.radio.version img { display: block; }

.radio__title.version:before { bottom: 0; margin: 0; background: url('../img/icons-s6e2bf6376f.png') 0 -356px no-repeat; width: 11px; height: 11px; }
.radio__title.version:after { bottom: 0; margin: 0; background: url('../img/icons-s6e2bf6376f.png') 0 -195px no-repeat; width: 11px; height: 11px; }

.details__buttons { border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 25px 0; *zoom: 1; }
.details__buttons:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 505px) { .details__buttons { text-align: center; } }
.details__buttons button { text-transform: uppercase; font-size: 16px; width: 235px; height: 55px; font-family: "Titillium-Semibold", Arial, sans-serif; }
.details__buttons .back { background: none; color: #254680; border: 2px solid #254680; position: relative; }
.details__buttons .back.checkout:before { position: absolute; content: ""; top: 21px; left: 18px; background: url('../img/icons-s6e2bf6376f.png') 0 -337px no-repeat; width: 18px; height: 9px; -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
.details__buttons .back.continue { float: right; }
@media only screen and (max-width: 505px) { .details__buttons .back.continue { float: none; margin-top: 20px; } }
.details__buttons .back.continue:after { position: absolute; content: ""; background: url('../img/icons-s6e2bf6376f.png') 0 -337px no-repeat; width: 18px; height: 9px; -ms-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg); top: 21px; right: 18px; }
.details__buttons .complete { background: #254680; color: white; float: right; position: relative; }
@media only screen and (max-width: 505px) { .details__buttons .complete { float: none; display: inline-block; margin-top: 20px; } }
.details__buttons.checkinfo .complete:after { position: absolute; content: ""; top: 19px; right: 20px; background: url('../img/icons-s6e2bf6376f.png') 0 -409px no-repeat; width: 10px; height: 17px; }

.checkbox { display: inline-block; position: relative; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox input:checked + .checkbox__title:after { display: block; }

.checkbox__title:before { content: ""; position: absolute; left: 0; width: 19px; height: 19px; border: 1px solid #254680; background: white; }
.checkbox__title:after { content: ""; display: none; position: absolute; top: 4px; left: 1px; z-index: 2; background: url('../img/icons-s6e2bf6376f.png') 0 -121px no-repeat; width: 18px; height: 15px; }
