/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: Titillium-Bold; src: url("fonts/Titillium-Bold.eot"); src: url("fonts/Titillium-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Bold.woff") format("woff"), url("fonts/Titillium-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Semibold; src: url("fonts/Titillium-Semibold.eot"); src: url("fonts/Titillium-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Semibold.woff") format("woff"), url("fonts/Titillium-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Regular; src: url("fonts/Titillium-Regular.eot"); src: url("fonts/Titillium-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Regular.woff") format("woff"), url("fonts/Titillium-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Titillium-Light; src: url("fonts/Titillium-Light.eot"); src: url("fonts/Titillium-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Titillium-Light.woff") format("woff"), url("fonts/Titillium-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicSlabLight; src: url("fonts/KlinicSlabLight.eot"); src: url("fonts/KlinicSlabLight.eot?#iefix") format("embedded-opentype"), url("fonts/KlinicSlabLight.woff") format("woff"), url("fonts/KlinicSlabLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.out { min-height: 100%; }

header, section, footer { position: relative; width: 100%; min-width: 244px; }

.pharm__wrap, .medic__wrap, .prodsearch__wrap, .categ__wrap, .result__wrap, .details__wrap { max-width: 1000px; margin: 0 auto; min-height: 100%; }

.header__wrap { max-width: 1244px; min-height: 90px; padding-bottom: 10px; margin: 0 auto; *zoom: 1; }
.header__wrap:after { content: " "; display: table; clear: both; }

.header__logo { padding-top: 25px; width: 39.389%; min-width: 244px; float: left; }
@media only screen and (max-width: 685px) { .header__logo { text-align: center; width: 100%; float: none; } }

.header__right { width: 60.6109%; float: right; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 685px) { .header__right { float: none; width: 100%; } }
.header__right .cart { float: left; width: 68.8%; text-align: right; padding-top: 18px; }
.header__right .cart a { color: #2a8ff1; font: 14px "Titillium-Semibold", Arial, sans-serif; text-decoration: none; }
@media only screen and (max-width: 1238px) { .header__right .cart { text-align: left; } }
@media only screen and (max-width: 685px) { .header__right .cart { float: none; text-align: center; width: 100%; } }
.header__right .contacts { font: 16px "Titillium-Bold", Arial, sans-serif; width: 70%; }
@media only screen and (max-width: 685px) { .header__right .contacts { width: 100%; } }
.header__right .contacts span { color: #2a8ff1; display: inline-block; padding: 15px 45px 0 0; position: relative; }
.header__right .contacts.ord { width: 31.2%; text-align: center; float: right; }
.header__right .contacts .phone { padding-left: 35px; }
@media only screen and (max-width: 1238px) { .header__right .contacts .phone { display: none; } }
.header__right .contacts .phone:after { background: url('../img/icons-sfb6bdf8d12.png') 0 -142px no-repeat; width: 18px; height: 18px; position: absolute; content: ""; top: 18px; right: 18px; }
.header__right .contacts .phone.ord { padding: 15px 0 0 0; }
.header__right .contacts .phone.ord:after { display: none; }
.header__right .contacts .fax:after { background: url('../img/icons-sfb6bdf8d12.png') 0 -195px no-repeat; width: 19px; height: 17px; position: absolute; content: ""; top: 19px; right: 17px; }
@media only screen and (max-width: 1238px) { .header__right .contacts .fax { display: none; } }
.header__right .contacts .sign { display: inline-block; font: 16px "Titillium-Semibold", Arial, sans-serif; color: #254680; }
@media only screen and (max-width: 685px) { .header__right .contacts .sign { width: 100%; text-align: center; padding-top: 10px; } }
.header__right .contacts .login, .header__right .contacts .reg { display: inline-block; text-decoration: none; }
.header__right .contacts .login { width: 70px; height: 35px; background: #2a8ff1; color: white; padding-top: 15px; font-size: 15px; text-transform: uppercase; text-align: center; }
.header__right .contacts .reg { color: #254680; padding-left: 5px; }

.header__menu { font: 16px "Titillium-Regular", Arial, sans-serif; padding-top: 15px; float: left; }
@media only screen and (max-width: 685px) { .header__menu { float: none; text-align: center; } }
.header__menu ul { float: left; }
@media only screen and (max-width: 685px) { .header__menu ul { float: none; } }
.header__menu li { display: inline-block; padding-right: 33px; }
@media only screen and (max-width: 685px) { .header__menu li { display: block; padding-right: 0; } }
.header__menu li a { color: #254680; text-decoration: none; }
.header__menu li:hover { text-decoration: underline; }
.header__menu .social { float: left; }
@media only screen and (max-width: 685px) { .header__menu .social { float: none; padding: 20px 0; } }

.search { float: right; margin-top: 10px; position: relative; }
.search input { width: 213px; height: 30px; background: #eff0f1; padding-left: 15px; }
.search i { background: url('../img/icons-sfb6bdf8d12.png') 0 -170px no-repeat; width: 15px; height: 15px; position: absolute; right: 12px; top: 8px; content: ""; cursor: pointer; }
@media only screen and (max-width: 1247px) { .search { float: left; } }
@media only screen and (max-width: 685px) { .search { float: none; width: 90%; margin: 5px auto; }
  .search input { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } }

.cycle-slideshow { overflow: hidden; max-height: 575px; }
.cycle-slideshow a, .cycle-slideshow img { width: 100%; }

.cycle-pager { position: absolute; z-index: 500; bottom: -15px; left: 50%; margin-left: -35px; }
@media only screen and (max-width: 1120px) { .cycle-pager { margin-left: -32px; } }
@media only screen and (max-width: 720px) { .cycle-pager { margin-left: -25px; bottom: -10px; } }
.cycle-pager .cycle-pager-active { color: #2a8ff0; }

.cycle-pager span { color: white; font-size: 50px; cursor: pointer; padding-right: 7px; }
@media only screen and (max-width: 1120px) { .cycle-pager span { font-size: 45px; } }
@media only screen and (max-width: 720px) { .cycle-pager span { font-size: 35px; } }

.pharm__wrap { margin: 50px auto 15px; position: relative; }
.pharm__wrap:before { background: url('../img/icons-sfb6bdf8d12.png') 0 0 no-repeat; width: 36px; height: 75px; position: absolute; content: ""; top: 0; left: 50%; margin-left: -18px; }
.pharm__wrap p { font: 29px "KlinicSlabLight", Arial, sans-serif; color: #254680; text-align: center; }

.pharm__text { padding: 115px 0 50px 0; width: 65%; margin: 0 auto; }

.pharm__buttons { text-align: center; padding-bottom: 70px; }
.pharm__buttons button { width: 234px; height: 55px; font: 16px "Titillium-Semibold", Arial, sans-serif; text-transform: uppercase; border: 2px solid #254680; background: white; color: #254680; margin-right: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 518px) { .pharm__buttons button { margin: 0 0 20px 0; } }
.pharm__buttons button:last-child { margin-right: 0; }
.pharm__buttons button:hover { background: #254680; color: white; }

.scroll { font: 14px "Titillium-Semibold", Arial, sans-serif; color: #2a8ff1; text-align: center; position: relative; padding-bottom: 40px; }
.scroll:after { background: url('../img/icons-sfb6bdf8d12.png') 0 -222px no-repeat; width: 19px; height: 9px; position: absolute; content: ""; top: 30px; left: 50%; margin-left: -9.5px; }

.medic { background: #2a8ff1; }

.medic__wrap { padding: 85px 0 75px 0; }
.medic__wrap p { margin-bottom: 60px; color: white; font: 29px "KlinicSlabLight", Arial, sans-serif; text-align: center; }

.medic__table { text-align: center; }
.medic__table .bl { display: inline-block; width: 17%; margin-bottom: 30px; }
@media only screen and (max-width: 680px) { .medic__table .bl { width: 20%; } }
@media only screen and (max-width: 580px) { .medic__table .bl { width: 25%; } }
@media only screen and (max-width: 470px) { .medic__table .bl { width: 50%; } }
.medic__table .bl a { text-decoration: none; display: block; background: white; border-radius: 50%; margin: 0 auto; width: 100px; height: 100px; }
.medic__table .bl a img { padding-top: 30px; }
.medic__table .bl span { display: block; padding-top: 20px; font: 14px "Titillium-Semibold", Arial, sans-serif; color: white; text-transform: uppercase; }

.prodsearch { background: #f8f8f8; }

.prodsearch__wrap { padding: 105px 0 130px 0; text-align: center; }
.prodsearch__wrap a { display: block; font: 13px "Titillium-Regular", Arial, sans-serif; color: #134a8e; text-decoration: none; }

.prodsearch__s { position: relative; display: inline-block; width: 45%; min-width: 370px; padding-bottom: 20px; }
@media only screen and (max-width: 685px) { .prodsearch__s { width: 90%; min-width: 265px; } }
.prodsearch__s input { color: #5b5b5b; background: white; width: 100%; height: 55px; padding-left: 37px; font: 16px "Titillium-Regular", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.prodsearch__s input:-moz-placeholder, .prodsearch__s input::-moz-placeholder { color: #5b5b5b; opacity: 1; }
.prodsearch__s input::-webkit-input-placeholder { color: #5b5b5b; }
@media only screen and (max-width: 685px) { .prodsearch__s input { width: 100%; padding-left: 10px; font-size: 12px; } }
.prodsearch__s i { background: url('../img/icons-sfb6bdf8d12.png') 0 -85px no-repeat; width: 26px; height: 26px; position: absolute; content: ""; top: 15px; right: 20px; cursor: pointer; }

.prodsearch__title { font: 24px "KlinicSlabLight", Arial, sans-serif; color: #2a8ff1; padding-bottom: 35px; }

.prodsearch__sort { margin-top: 25px; font: 12px "Titillium-Regular", Arial, sans-serif; color: #134a8e; }
.prodsearch__sort input { margin-right: 5px; opacity: 0; z-index: 3; }
.prodsearch__sort input:checked + .checkn:after { display: inline-block; }

.check { position: relative; display: inline-block; cursor: pointer; }
@media only screen and (max-width: 357px) { .check { margin-bottom: 15px; } }

.middle { margin: 0 65px 0; }
@media only screen and (max-width: 470px) { .middle { margin: 0 20px; } }
@media only screen and (max-width: 357px) { .middle { margin-bottom: 15px; } }

.first { margin-right: 80px; }
@media only screen and (max-width: 470px) { .first { margin: 0 20px; } }
@media only screen and (max-width: 357px) { .first { margin-bottom: 15px; } }

.checkn:before { position: absolute; content: ""; width: 12px; height: 12px; border: 1px solid #6e86ae; left: 0; }
.checkn:after { position: absolute; content: ""; left: 0; display: none; z-index: 2; background: url('../img/icons-sfb6bdf8d12.png') 0 -121px no-repeat; width: 12px; height: 11px; }

.categ { background: #2a8ff1; }

.categ__wrap { padding: 70px 0 100px 0; text-align: center; }
.categ__wrap .medic__table .bl { width: 22.5%; }
@media only screen and (max-width: 600px) { .categ__wrap .medic__table .bl { width: 25%; } }
@media only screen and (max-width: 520px) { .categ__wrap .medic__table .bl { width: 35%; } }
@media only screen and (max-width: 470px) { .categ__wrap .medic__table .bl { width: 50%; } }
.categ__wrap .medic__table a img { padding-top: 20px; }
.categ__wrap .prodsearch__title { color: white; padding-bottom: 60px; }

.srch { padding-bottom: 312px; }

.sign { text-align: center; font: 15px "Titillium-Regular", Arial, sans-serif; }
.sign p { margin-bottom: 0; font-size: 24px; }
.sign .sign__text { margin-bottom: 60px; }
.sign input { display: block; margin: 0 auto 10px; width: 31.5%; min-width: 200px; height: 50px; font-size: 16px; color: #5b5b5b; padding-left: 25px; }
.sign input:-moz-placeholder, .sign input::-moz-placeholder { color: #5b5b5b; opacity: 1; }
.sign input::-webkit-input-placeholder { color: #5b5b5b; }
.sign a { color: white; display: block; }
.sign a:hover { text-decoration: none; }
.sign span { color: white; display: inline-block; }
.sign .ask { margin-top: 40px; }
.sign .frgt { padding-bottom: 45px; font-size: 12px; }

.signin { width: 23.5%; min-width: 195px; height: 55px; background: none; border: 2px solid white; text-transform: uppercase; color: white; display: block; margin: 0 auto; }
.signin:hover { background: #254680; border-color: #254680; }

.acc .sign__text { margin-bottom: 40px; }
.acc input { display: inline-block; margin-right: 10px; }
.acc .signin { margin-top: 40px; }

.result__wrap { margin: 85px auto 165px; }

.result__title { font: 24px "KlinicSlabLight", Arial, sans-serif; color: #2a8ff1; margin-bottom: 50px; }

.result__table { font: 17px "Titillium-Regular", Arial, sans-serif; color: #555555; }
@media only screen and (max-width: 730px) { .result__table { font-size: 13px; } }
.result__table tr { border-bottom: 1px solid #dddddd; }
.result__table td { padding: 30px 0; }
@media only screen and (max-width: 730px) { .result__table td { padding-right: 15px; } }
.result__table .result__first td { padding: 0 0 5px 0; }
.result__table .name { width: 33%; padding-left: 20px; }
@media only screen and (max-width: 860px) { .result__table .name { width: 40%; padding-right: 20px; } }
.result__table .best { position: relative; }
.result__table .best .deal { font: 12px "Titillium-Light", Arial, sans-serif; position: absolute; left: -2px; bottom: -20px; }
@media only screen and (max-width: 730px) { .result__table .best .deal { display: none; } }
.result__table .remove { cursor: pointer; }
.result__table .blue, .result__table .srt, .result__table a, .result__table .deal { color: #254680; }
.result__table .srt { position: relative; cursor: pointer; }
.result__table .srt i { position: absolute; content: ""; background: url('../img/icons-sfb6bdf8d12.png') 0 -288px no-repeat; width: 9px; height: 5px; top: 10px; right: -14px; }
@media only screen and (max-width: 730px) { .result__table .srt i { top: 7px; } }
.result__table .srt i.active { position: absolute; content: ""; background: url('../img/icons-sfb6bdf8d12.png') 0 -303px no-repeat; width: 9px; height: 5px; top: 10px; right: -14px; }
@media only screen and (max-width: 730px) { .result__table .srt i.active { top: 7px; } }
.result__table a:hover { text-decoration: none; }
.result__table select { position: relative; width: 70px; height: 40px; z-index: 2; opacity: 0; }
.result__table .forselect { position: relative; }
.result__table .forselect span { font: 16px "Titillium-Regular", Arial, sans-serif; border: 1px solid #254680; width: 70px; height: 40px; display: inline-block; position: absolute; top: -41px; left: -1px; padding: 7px 0 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.result__table .forselect span:after { background: url('../img/icons-sfb6bdf8d12.png') 0 -241px no-repeat; width: 13px; height: 7px; position: absolute; content: ""; top: 15px; right: 10px; }

.common { max-width: 1244px; margin: 0 auto; }

.details__wrap { margin: 30px 0 120px 0; font: 18px "Titillium-Regular", Arial, sans-serif; color: #555555; }

.details__title { color: #254680; border-bottom: 1px solid #bdc7d9; border-top: 1px solid #bdc7d9; padding: 30px 0; margin-bottom: 85px; }
@media only screen and (max-width: 685px) { .details__title { text-align: center; } }

.details__total { *zoom: 1; }
.details__total:after { content: " "; display: table; clear: both; }
.details__total table { width: 350px; text-align: right; float: right; margin: 40px 0; font-size: 17px; }
@media only screen and (max-width: 730px) { .details__total table { font-size: 15px; } }
@media only screen and (max-width: 505px) { .details__total table { float: none; margin: 40px auto; } }
.details__total table td { padding-right: 20px; }
.details__total table .left { text-align: left; padding-right: 15px; }
.details__total table .bold { font-family: "Titillium-Semibold", Arial, sans-serif; }

.details__buttons { border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 25px 0; position: relative; }
@media only screen and (max-width: 505px) { .details__buttons { text-align: center; } }
.details__buttons button { text-transform: uppercase; font: 16px "Titillium-Semibold", Arial, sans-serif; width: 235px; height: 55px; }
.details__buttons .back { background: none; color: #254680; border: 2px solid #254680; }
.details__buttons .complete { background: #254680; color: white; position: absolute; right: 0; }
@media only screen and (max-width: 505px) { .details__buttons .complete { position: relative; display: inline-block; margin-top: 20px; } }

footer { background: #134a8e; }

.footer__wrap { max-width: 795px; margin: 0 auto; }

.footer__menu { font: 13px Helvetica, Arial, sans-serif; padding: 35px 0 25px 0; }
.footer__menu ul { display: inline-block; width: 23%; }
@media only screen and (max-width: 545px) { .footer__menu ul { display: inline; text-align: center; } }
.footer__menu li { padding-bottom: 15px; }
.footer__menu li a { color: white; text-decoration: none; }
.footer__menu li a:hover { text-decoration: underline; }

.footer__social { vertical-align: top; }

.footer__badge { background: white; padding: 15px 0; }
@media only screen and (max-width: 545px) { .footer__badge { text-align: center; } }
.footer__badge img { padding-right: 15px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
