// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4

//FONTS
+font(Titillium-Bold, Titillium-Bold) 
+font(Titillium-Semibold, Titillium-Semibold)  
+font(Titillium-Regular, Titillium-Regular) 
+font(Titillium-Light, Titillium-Light) 
+font(KlinicSlabLight, KlinicSlabLight) 
+font(KlinicSlab-Book, KlinicSlab-Book) 
+font(KlinicSlab-Bold, KlinicSlab-Bold) 

=tbold
	font-family: "Titillium-Bold", Arial, sans-serif 

=tsemibold
	font-family: "Titillium-Semibold", Arial, sans-serif 

=treg
	font-family: "Titillium-Regular", Arial, sans-serif 
	
=tlight
	font-family: "Titillium-Light", Arial, sans-serif 
	
=klight
	font-family: "KlinicSlabLight", Arial, sans-serif 

=kbook
	font-family: "KlinicSlab-Book", Arial, sans-serif 
	
=kbold
	font-family: "KlinicSlab-Bold", Arial, sans-serif 

// common blocks      
.out
	min-height: 100%
	
//HEADER
header, section, footer
	position: relative
	width: 100% 
	min-width: 244px

.pharm__wrap, .medic__wrap, .prodsearch__wrap, 
.categ__wrap, .result__wrap, .details__wrap
	max-width: 1000px
	margin: 0 auto 
	min-height: 100%	

.header__wrap
	max-width: 1244px 
	min-height: 90px
	padding-bottom: 10px 
	margin: 0 auto 
	+clr
	
.header__logo
	padding-top: 25px 
	width: 39.3890% 
	min-width: 244px
	float: left
	+rt(685)
		text-align: center
		width: 100%
		float: none 
	
.header__right
	width: 60.6109%
	float: right
	+clr
	+rt(685)
		float: none
		width: 100%
	.cart
		float: left
		width: 68.8%
		text-align: right
		padding-top: 18px
		a
			color: #2a8ff1
			text-decoration: none
			font-size: 14px
			+tsemibold 
		+rt(1238)
			text-align: left 
		+rt(685)
			float: none
			text-align: center 
			width: 100% 
	.contacts
		width: 70%
		font-size: 16px
		+tbold 
		+rt(685)
			width: 100% 
		span
			color: #2a8ff1 
			display: inline-block
			padding: 15px 45px 0 0 
			position: relative
		&.ord
			width: 31.2%
			text-align: center
			float: right
		.phone	
			padding-left: 35px
			+rt(1238)
				display: none
			&:after
				+s(phone_i)
				position: absolute 
				content: ""
				top: 18px 
				right: 18px
			&.ord
				padding: 15px 0 0 0
				&:after
					display: none					
		.fax
			&:after
				+s(fax_i)
				position: absolute 
				content: ""
				top: 19px 
				right: 17px	
			+rt(1238)
				display: none
		.sign 
			display: inline-block
			font-size: 16px
			color: #254680 
			+tsemibold 
			+rt(685)
				width: 100%
				text-align: center 
				padding-top: 10px
		.login, .reg
			display: inline-block
			text-decoration: none
		.login
			width: 70px 
			height: 35px
			background: #2a8ff1 	
			color: #FFF 		
			padding-top: 15px
			font-size: 15px
			text-transform: uppercase 
			text-align: center 
		.reg
			color: #254680
			padding-left: 5px 
		 
.header__menu
	font-size: 16px 
	padding-top: 15px 
	float: left
	+treg
	+rt(685)
		float: none
		text-align: center 
	ul
		float: left
		+rt(685)
			float: none
	li
		display: inline-block
		padding-right: 33px
		+rt(685)
			display: block 
			padding-right: 0 
		a
			color: #254680 
			text-decoration: none 
		&:hover
			text-decoration: underline 	
	.social
		float: left
		+rt(685)
			float: none
			padding: 20px 0	
.search 
	float: right
	margin-top: 10px 
	position: relative
	input
		width: 213px 
		height: 30px
		background: #eff0f1
		padding-left: 15px   
	i
		+s(search_i)
		position: absolute
		right: 12px
		top: 8px
		content: ""
		cursor: pointer
	+rt(1247)
		float: left	
	+rt(685)
		float: none
		width: 90%
		margin: 5px auto 
		input
			width: 100%
			+box 

//MAIN
.cycle-slideshow
	overflow: hidden
	max-height: 575px
	a,img
		width: 100%
		
.cycle-pager
	position: absolute
	z-index: 500
	bottom: -15px
	left: 50%
	margin-left: -35px 
	+rt(1120)
		margin-left: -32px
	+rt(720)
		margin-left: -25px
		bottom: -10px 
	.cycle-pager-active
		color: #2a8ff0
	
.cycle-pager span
	color: #fff
	font-size: 50px
	cursor: pointer
	padding-right: 7px 
	+rt(1120)
		font-size: 45px 
	+rt(720)
		font-size: 35px 	
	 
.pharm__wrap
	margin: 50px auto 15px
	position: relative
	&:before
		+s(logo2)
		position: absolute
		content: ""
		top: 0
		left: 50%
		margin-left: -18px 
	p
		font-size: 29px
		color: #254680 
		text-align: center
		+klight  
	
.pharm__text	
	padding: 115px 0 50px 0 
	width: 65%
	margin: 0 auto  
	
.pharm__buttons
	text-align: center
	padding-bottom: 70px 
	button
		width: 234px
		height: 55px 
		font-size: 16px 	
		text-transform: uppercase 
		border: 2px solid #254680
		background: #fff 
		color: #254680 
		margin-right: 30px 
		+tsemibold
		+box 
		+rt(518)
			margin: 0 0 20px 0
		&:last-child
			margin-right: 0 
		&:hover
			background: #254680 
			color: #fff 
			
.scroll
	font-size: 14px
	color: #2a8ff1 
	text-align: center 
	position: relative
	padding-bottom: 40px 
	+tsemibold
	&:after
		+s(scroll_i)
		position: absolute
		content: ""		
		top: 30px
		left: 50%
		margin-left: -9.5px

.medic
	background: #2a8ff1
	
.medic__wrap
	padding: 85px 0 75px 0
	p
		margin-bottom: 60px
		color: #fff 
		font-size: 29px 
		text-align: center
		+klight 
		 
.medic__table
	text-align: center 
	.bl
		display: inline-block
		width: 17%
		margin-bottom: 30px
		+rt(680)
			width: 20%
		+rt(580)
			width: 25%
		+rt(470)
			width: 50%
		a
			text-decoration: none 			
			display: block
			background: #FFF
			border-radius: 50% 
			margin: 0 auto 
			width: 100px
			height: 100px		
			img
				padding-top: 30px					
		span
			display: block
			padding-top: 20px
			font-size: 14px
			color: #FFF 			 
			text-transform: uppercase
			+tsemibold 


.prodsearch
	background: #F8F8F8 

.prodsearch__wrap
	padding: 105px 0 130px 0
	text-align: center 
	a
		display: block
		font-size: 13px 
		color: #134A8E
		text-decoration: none  
		+treg

.prodsearch__s
	position: relative
	display: inline-block
	width: 45%
	min-width: 370px
	padding-bottom: 20px 
	+rt(685)
		width: 90% 
		min-width: 265px 
	input
		color: #5b5b5b
		font-size: 16px 
		background: #FFF
		width: 100%
		height: 55px  
		padding-left: 37px		
		+treg
		+placeholder-color(#5b5b5b) 
		+box
		+rt(685)
			width: 100% 
			padding-left: 10px
			font-size: 12px  
	i
		+s(arrow)
		position: absolute
		content: ""
		top: 15px
		right: 20px
		cursor: pointer
	
.prodsearch__title
	font-size: 24px  
	color: #2A8FF1
	padding-bottom: 35px 
	+klight

.prodsearch__sort
	margin-top: 25px  
	font-size: 12px 
	color: #134a8e
	+treg
	input
		margin-right: 5px 
		opacity: 0
		z-index: 3
		&:checked
			+ .checkn
				&:after
					display: inline-block
					
.check
	position: relative
	display: inline-block
	cursor: pointer
	+rt(357)
		margin-bottom: 15px 

.middle
	margin: 0 65px 0 
	+rt(470)
		margin: 0 20px 
	+rt(357)
		margin-bottom: 15px 
.first
	margin-right: 80px
	+rt(470)
		margin: 0 20px 
	+rt(357)
		margin-bottom: 15px 

.checkn
	&:before
		position: absolute
		content: ""
		width: 12px 
		height: 12px
		border: 1px solid #6e86ae
		left: 0
	&:after
		position: absolute
		content: ""
		left: 0
		display: none
		z-index: 2
		+s(checkn)	
	
.categ
	background: #2a8ff1
	
.categ__wrap
	padding: 70px 0 100px 0 
	text-align: center 
	.medic__table
		.bl
			width: 22.5% 
			+rt(600)
				width: 25%
			+rt(520)
				width: 35%
			+rt(470)
				width: 50%
		a
			img
				padding-top: 20px 
	.prodsearch__title
		color: #FFF 
		padding-bottom: 60px 
		
.srch
	padding-bottom: 312px 
	
//PAGE SIGN IN
.sign
	text-align: center 
	font-size: 15px 
	+treg
	p
		margin-bottom: 0 
		font-size: 24px 
	.sign__text
		margin-bottom: 60px 
	input
		display: block
		margin: 0 auto 10px
		width: 31.5%
		min-width: 200px 
		height: 50px
		font-size: 16px
		color: #5b5b5b
		padding-left: 25px  
		+placeholder-color(#5b5b5b)
	a
		color: #FFF 	
		display: block 
		&:hover
			text-decoration: none 
	span			
		color: #FFF 
		display: inline-block
	.ask
		margin-top: 40px 	
	.frgt
		padding-bottom: 45px 
		font-size: 12px 

.signin
	width: 23.5%
	min-width: 195px 
	height: 55px
	background: none
	border: 2px solid #fff
	text-transform: uppercase  
	color: #fff 
	display: block 
	margin: 0 auto 
	&:hover
		background: #254680 
		border-color: #254680 

//PAGE CREATE ACCOUNT
.acc	
	.sign__text
		margin-bottom: 40px 	
	input
		display: inline-block 
		margin-right: 10px 
	.signin
		margin-top: 40px 

//PAGE SEARCH RESULTS
.result__wrap
	margin: 85px auto 165px

.result__title
	color: #2A8FF1 
	margin-bottom: 50px
	font-size: 24px 
	+klight 

.result__table
	font-size: 17px
	color: #555 
	+treg 
	+rt(730)
		font-size: 13px
	tr
		border-bottom: 1px solid #dddddd
	td
		padding: 30px 0
		+rt(730)
			padding-right: 15px 
	.result__first td
		padding: 0 0 5px 0
	.name
		width: 33%
		padding-left: 20px	
		+rt(860)
			width: 40%
			padding-right: 20px 
	.best
		position: relative
		.deal
			font-size: 12px 
			position: absolute
			left: -2px
			bottom: -20px
			+tlight	
			+rt(730)
				display: none	
	.remove
		cursor: pointer				
	.blue, .srt, a, .deal
		color: #254680 	
	.srt
		position: relative
		cursor: pointer
		i
			position: absolute
			content: ""
			+s(arr_down)
			top: 10px	
			right: -14px
			+rt(730)
				top: 7px
			&.active
				position: absolute
				content: ""
				+s(arr_up)
				top: 10px	
				right: -14px
				+rt(730)
					top: 7px
	a	
		&:hover
			text-decoration: none 
	select
		position: relative 	
		width: 70px
		height: 40px
		z-index: 2	
		opacity: 0 
	.forselect
		position: relative 	
		span
			font-size: 16px 
			border: 1px solid #254680
			width: 70px
			height: 40px
			display: inline-block 
			position: absolute
			top: -41px
			left: -1px
			padding: 7px 0 0 20px
			+treg
			+box
			&:after
				+s(slct)
				position: absolute
				content: ""
				top: 15px
				right: 10px
				
//PAGE ORDER DETAILS
.common
	max-width: 1244px
	margin: 0 auto

.details__wrap
	margin: 30px 0 120px 0
	font-size: 18px 
	color: #555 
	+treg

.details__title
	color: #254680
	border-bottom: 1px solid #bdc7d9  
	border-top: 1px solid #bdc7d9 
	padding: 30px 0 
	margin-bottom: 85px 
	+rt(685)
		text-align: center

.details__total
	+clr
	table
		width: 350px
		text-align: right
		float: right
		margin: 40px 0
		font-size: 17px 
		+rt(730)
			font-size: 15px
		+rt(505)
			float: none
			margin: 40px auto 
		td
			padding-right: 20px 
		.left
			text-align: left
			padding-right: 15px 
		.bold
			+tsemibold
			
.details__buttons
	border-top: 1px solid #dddddd
	border-bottom: 1px solid #dddddd
	padding: 25px 0
	position: relative
	+rt(505)
		text-align: center 
	button
		text-transform: uppercase 
		font-size: 16px 
		width: 235px
		height: 55px 
		+tsemibold
	.back		
		background: none
		color: #254680
		border: 2px solid #254680   	
	.complete
		background: #254680
		color: #fff 
		position: absolute
		right: 0
		+rt(505)
			position: relative
			display: inline-block
			margin-top: 20px

//PRODUCT PAGE
.product
	+clr
	.details__title
		margin-bottom: 45px 

.breadcrumbs
	+clr
	li
		float: left
		padding-right: 5px 
		+rt(685)
			float: none
	a
		text-decoration: none 
		color: #254680
		padding-right: 5px
	.current
		color: #2A8FF1 
		
.leftside
	width: 32%
	float: left 
	+rt(685)
		width: 100% 
		float: none 
		text-align: center
		 
.alternative
	margin-top: 100px
	+rt(685)
		display: none		 
	+clr
	&.hidden
		display: none
		+rt(685)
			display: block 
			margin-top: 50px 
			text-align: center
	&.version
		margin-top: 25px 
		+rt(685)
			display: block
			float: none
			text-align: center 
	.image
		float: left
		margin-right: 10px 
		overflow: hidden
		+rt(685)
			float: none
		img
			width: 90px 	
	.alt__ver
		float: left
		width: 33%
		+rt(930)
			width: 50%
		+rt(685)
			width: 100%
			margin-bottom: 50px 
		.add
			text-decoration: underline 	
			&:hover
				text-decoration: none 	
	.desc
		+clr
		padding-top: 25px 	
	.title
		margin-bottom: 15px	
		font-size: 18px 
	.naming
		font-size: 30px
		color: #254680 
		line-height: 1
		+kbook 
	.b
		color: #2A8FF1 
		font-size: 15px 
	.add	
		color: #254680
		text-decoration: none 
		text-transform: uppercase 
		display: inline-block 
		margin-top: 20px
		font-size: 15px 
		+tsemibold

.rightside
	width: 68%
	float: left
	vertical-align: top 
	+rt(685)
		width: 85%
		margin: 0 auto 	
		float: none 
	.rightside__title
		color: #254680
		font-size: 36px 
		margin-bottom: 35px 
		position: relative
		+kbook 
		+rt(685)
			text-align: center 
	.b
		color: #2A8FF1  
		font-size: 18px 
	button
		width: 235px
		height: 55px
		position: absolute
		right: 0
		bottom: 0
		text-transform: uppercase 
		color: #fff   	
		background: #254680 
		font-size: 16px 
		+tsemibold
		+rt(930)
			position: relative
			margin-top: 20px 
	.rightside__table
		margin: 35px 0 75px 0 
		width: 90%	
		+rt(685)
			width: 100%
		td
			vertical-align: top	 
			color: #254680 
			+rt(685)
				padding-right: 15px				 
			img
				margin-right: 10px 
		.b
			font-size: 14px
			+tsemibold 	
	.rightside__quan
		text-align: center
		+clr
		.inrow
			display: inline-block
			vertical-align: top
			padding-right: 6px 
			&:last-child
				padding-right: 0 
			span
				display: table-cell
				vertical-align: middle
				width: 105px
				height: 50px
		.quantity
			color: #FFF
			background: #254680  
		.price
			color: #2A8FF1 
			background: #D4E9FC
	.rightside__text
		color: #254680 	
		.b
			font-size: 24px 
			margin-bottom: 35px 
		.version2	
			padding-bottom: 25px 
			border-bottom: 1px solid #89a4c6
			
//RADIOBOX MODIFICATION
.radio	
	display: inline-block
	position: relative
	input 
		width: 11px
		height: 11px 
		z-index: 2
		opacity: 0
		position: absolute
		bottom: 20px
		&:checked
			+ .radio__title
				&:after
					display: block
					
.radio__title
	display: inline-block
	position: relative
	z-index: 1
	&:before
		content: "" 
		position: absolute
		bottom: 20px
		left: 50%
		margin-left: -7.5px 
		+s(radio_i) 
	&:after
		content: ""
		display: none
		position: absolute
		bottom: 20px
		left: 50%
		margin-left: -7.5px 
		z-index: 2
		+s(radio1_i) 
		
				 	
//FOOTER
footer
	background: #134a8e

.footer__wrap
	max-width: 795px
	margin: 0 auto 
	
.footer__menu
	font: 13px Helvetica, Arial, sans-serif
	padding: 35px 0 25px 0 
	ul
		display: inline-block
		width: 23% 
		+rt(545)
			display: inline 
			text-align: center 
	li
		padding-bottom: 15px 
		a
			color: #fff  
			text-decoration: none 
			&:hover
				text-decoration: underline 	
			
.footer__social
	vertical-align: top 
			
.footer__badge
	background: #FFF 
	padding: 15px 0 
	+rt(545)
		text-align: center 
	img
		padding-right: 15px 